<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
       http://jax-ws.java.net/spring/core.xsd
       http://jax-ws.dev.java.net/spring/servlet
       http://jax-ws.java.net/spring/servlet.xsd">

    <!--Customer endpoint-->
    <wss:binding url="/ws/v1/CustomerService">
        <wss:service>
            <ws:service bean="#customerServiceWS"/>
        </wss:service>
    </wss:binding>

    <bean id="customerServiceWS" class="org.sergei.soap.ws.impl.CustomerWSImpl">
        <property name="customerService" ref="customerService"/>
    </bean>

    <bean id="customerService" class="org.sergei.soap.service.CustomerService"/>

    <!--Order endpoint-->
    <wss:binding url="/ws/v1/OrderService">
        <wss:service>
            <ws:service bean="#orderServiceWS"/>
        </wss:service>
    </wss:binding>

    <bean id="orderServiceWS" class="org.sergei.soap.ws.impl.OrderWSImpl">
        <property name="orderService" ref="orderService"/>
    </bean>

    <bean id="orderService" class="org.sergei.soap.service.OrderService"/>

    <!--PhotoUploadResponse endpoint-->
    <wss:binding url="/ws/v1/PhotoService">
        <wss:service>
            <ws:service bean="#photoServiceWS"/>
        </wss:service>
    </wss:binding>

    <bean id="photoServiceWS" class="org.sergei.soap.ws.impl.PhotoWSImpl">
        <property name="photoService" ref="photoService"/>
    </bean>

    <bean id="photoService" class="org.sergei.soap.service.PhotoService"/>

</beans>